<div class="about-header text-center">
    <h1>Relive your favorite memories</h1>
</div>
<div class="row">
    <div class="about-info text-center col-md-6 col-md-offset-3">
        <h2>No more sorting through photos</h2>
        <h5>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</h5>
        <%= link_to "Sign Up", new_signup_path, class:"btn btn-info btn-lg" %>
    </div>
</div>