<div class="main text-center">
	<h1>Create and share Stories</h1>
	<a class="btn btn-info" href="#" role="button">Learn more</a>
</div>
<div class="key-note text-center">
  <h2>Relive and share your adventures</h2>
  <h5>Stories automatically creates a digital journal filled with only your best photos.</h5>
</div>
<div class="splash-img">
</div>
<div class="key-note text-center">
  <h2>Discover Stories</h2>
  <a class="btn btn-info" href="#" role="button">Learn more</a>
</div>
<div class="footer text-center">
  A BRITTANYARIELLE PROJECT
</div>