<div class="main text-center">
	<h1>Create and share Stories</h1>
	<%= link_to "Learn more", about_path, class: "btn btn-info btn-lg" %>
</div>
<div class="key-note text-center">
  <h2>Relive and share your adventures</h2>
  <h5>Stories automatically creates a digital journal filled with only your best photos.</h5>
</div>
<div class="splash-img">
</div>
<div class="key-note text-center">
  <h2>Discover Stories</h2>
  <%= link_to "Learn more", about_path, class: "btn btn-info" %>
</div>
