#menubar {
    width:100%;
    background-color:#444;
    color: #fff;
    padding: 10px;
}

#button {
    cursor:pointer;
}

#menu li a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

#right {
    width:100%;
    background-color: #fff;
    z-index: 5;
    position: absolute;
    left: 0px;
    height: 100%;
}

#right p {
    padding: 10px;
}

#menu {
    float:left;
    width: 250px;
}

#menu li {
    background-color:#444;
    border-bottom: 1px solid #888;
}